<h3>Your experiences!</h3>
<br>
<!-- Display existing comments -->
{% for comment in comments %}
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">{{ comment.user.username }} - {{ comment.created_at }}</h5>
            <p class="card-text">{{ comment.coffee_experience }}</p>
        </div>
    
        {% if user.is_authenticated %}
            {% if user.is_staff or user == comment.user %}
                <form method="post" action="{% url 'delete_comment' comment.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            {% endif %}
        {% endif %}
    </div>
{% endfor %}

<!-- Comment form for logged-in users -->
{% if user.is_authenticated %}
    <div class="card mt-4">
        <div class="card-body">
            <h3>Share some coffee insight below!</h3>
            <br>
            <form method="post" action="{% url 'add_comment' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
{% endif %}
</div>